/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
vendor

.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#Postman Collection
*.postman_collection.*
.postman_collection.json